@import url("https://fonts.googleapis.com/css2?family=Oxygen+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");

body {
    background-color: black;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    font-family: "Open Sans", sans-serif;
    color: white;
}

code {
    @media screen and (max-width: 1040px) {
        font-size: 2vw !important;
    }
    @media screen and (max-width: 480px) {
        font-size: 8px !important;
    }
}

.content {
    width: 100%;
    max-width: 1160px; /* Adjust based on your layout needs */
    margin: auto; /* Centers the container */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* header nav */
.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1240px;
    margin: auto;
}

.company-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
}

.logo {
    max-width: 60px;
    padding-right: 5px;
    padding-top: 4px;
}

a {
    text-decoration: none;
}

.home-nav {
    border: none; /* Remove border */
    background-color: transparent; /* Set background to transparent */
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 22px;
    font-weight: 600;
    outline: none; /* Remove outline on focus */
    cursor: pointer; /* Add pointer cursor for interactivity */
}

.menu-nav {
    border: none; /* Remove border */
    background-color: transparent; /* Set background to transparent */
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;

    font-weight: 400;
    outline: none; /* Remove outline on focus */
    padding: 10px 20px; /* Add padding for better visual appearance */
    cursor: pointer; /* Add pointer cursor for interactivity */
}

.menu-nav:hover {
    font-family: "Oxygen Mono", monospace;
    color: #00ff75;
}

/* hero section */
.hero-container {
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: center; /* Adjust as needed */
    align-items: center; /* This vertically aligns the children */
}

.hero-text-container {
    /* flex: 1; Adjust the flex-grow as needed */
    padding-top: 25vh; /* Optional for spacing */
    padding-bottom: 20vh;
    width: 100%;
    /* Other existing styles */
    text-align: center;
    display: flex;
    justify-content: center;
}

/* .gif-container {
    flex: 1; /* Adjust the flex-grow as needed */
/* padding: 20px;
    max-width: 35%;
} */

.hero-gif {
    width: 100%;
    height: auto;
    margin: auto;
    border-radius: 8px;
}

.hero-title {
    font-size: 42px;
    font-weight: 700;
    width: 100%;
    max-width: 860px;
    padding-bottom: 30px;
}

.hero-subtext {
    font-family: "Oxygen Mono", monospace;
    font-size: 22px;
    width: 100%;
    max-width: 860px;
    padding-bottom: 30px;
    line-height: 160%;
    letter-spacing: 0.24px;
}

.hero-buttons {
    display: flex;
    justify-content: center;
}

.try-button,
.youtube-button,
.trainmodel-button {
    display: inline-block;
    height: 64px;
    width: 208px;
    font-family: "Oxygen Mono", monospace;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    border: 1.5px solid;
    border-radius: 8px;
    margin-right: 20px;
    margin: 16px;

    @media screen and (max-width: 1040px) {
        width: CALC(100% - 32px);
    }
}

.youtube-button {
    background-color: black;
    color: white;
}

.try-button {
    background-color: black;
    color: #00ff75;
    border-color: #00ff75;
}

/* features section */
.features-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    margin-top: 100px; /* Space between this and the content-container */
    margin-bottom: 240px;
}

.feature-item {
    background-color: black;
    border: 2px solid white;
    border-radius: 8px;
    padding: 20px;
    width: 30%;
    margin: 10px 20px; /* Space between items */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5); /* Optional shadow for depth */
    position: relative;
    color: white;

    @media screen and (max-width: 1040px) {
        width: CALC(100% - 32px);
    }
}
}

.feature-item h3 {
    margin-top: 2px;
    margin-bottom: 3em; /* Newline's worth of whitespace */
}

.feature-item p {
    font-family: "Oxygen Mono", monospace;
    margin-bottom: 2.5em;
}

.feature-logo {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 28px;
    color: white;
}

.demo-video {
    width: 640px;
    height: 360px;
}

/* video section */
.video-example-section {
    display: flex;
    padding: 40px 10px;
    margin-top: 20px; /* Adjust as needed */
    align-items: center;
    flex-direction: row-reverse;
}

.video-text-container {
    flex-basis: 30%;
    margin-right: 120px;
    margin-left: 40px;
    font-size: 26px;
    color: gray;
    font-weight: 700;
    max-width: 860px;
}

.video-container {
    width: 100%;
    flex-basis: 70%;
    margin-left: 20px;
    margin-right: 20px;
}

.video-example {
    width: 100%;
    height: auto;
    margin: auto;
}


/* code example section */
.code-example-section {
    display: flex;
    padding: 40px 10px;
    margin-top: 20px; /* Adjust as needed */
    align-items: center;
}

.description-container {
    flex-basis: 30%;
    margin-right: 120px;
    margin-left: 40px;
    font-size: 26px;
    color: gray;
    font-weight: 700;
    max-width: 860px;
}

.code-container {
    flex-basis: 70%;
    margin-left: 20px;
    margin-right: 20px;
    width: 100%;
}

.highlight {
    color: white;
}

pre {
    max-width: 100%;
    margin-left: 3em;
    overflow-x: auto; /* Allows scrolling for long code lines */
    border-radius: 8px;
    @media screen and (max-width: 1040px) {
        padding: 0px !important;
        
    }
}

/* performance section */
.performance-section {
    display: flex;
    padding: 40px 10px;
    margin-top: 20px; /* Adjust as needed */
    align-items: center;
    flex-direction: row-reverse;
}

.performance-text-container {
    flex-basis: 30%;
    margin-right: 120px;
    margin-left: 40px;
    font-size: 26px;
    color: gray;
    font-weight: 700;
    max-width: 860px;
}

.performance-chart-container {
    flex-basis: 70%;
    margin-left: 20px;
    margin-right: 20px;
}

.performance-example {
    width: 100%;
    height: auto;
    margin: auto;
    border-radius: 8px;
}

/* how to section */
.how-container {
    background-color: #111111;
    width: 1000px;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: space-between;
    padding: 30px 0px 30px 0px;
    margin: 80px;
}

.how-to-title {
    font-size: 36px;
    font-weight: 700;
    padding-bottom: 30px;
}

.how-to-box {
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 35%;
    padding-bottom: 30px;
}

.how-to-icon {
    height: 50px;
    width: 50px;
}

.how-to-text {
    font-family: "Oxygen Mono", monospace;
    font-size: 20px;
    margin-left: 20px;
}

.trainmodel-button {
    background-color: #111111;
    color: #00ff75;
    border-color: #00ff75;
    font-size: 12px;
    width: 260px;
    height: 60px;
}

.mobile-column {
    @media screen and (max-width: 1040px) {
        flex-direction: column;
        
    }
}

.media-responsive {
    @media screen and (max-width: 1040px) {
        width: CALC(100% - 32px);
    }
}

